---
---

@import "{{ site.theme }}";

body {
  color: #aaa;
}

[data-tippy-content] {
  text-decoration: underline dashed;
  text-underline-position: under;
  color: #ccc;
}

.text-capitalize {
  text-transform: capitalize;
}
