---
---

@import "{{ site.theme }}";

body {
  color: #aaa;
}

#main_content {

  small {

    &:last-child {
      display: none;
    }
  }
}

[data-tippy-content] {
  text-decoration: underline dashed;
  text-underline-position: under;
  color: #ccc;
}

.text-capitalize {
  text-transform: capitalize;
}
